.board-form-container {
    display: block;
    width: 500px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
}
.board-form-title {
    display: block;
    height: 25%;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 20px;
}

.board-form-column1 {
    font-family: $pinterest-font;
    font-size: 16px;
    color: gray;
    margin-left: 20px;
}
.board-form-column2 {
    font-family: $pinterest-font;
    font-size: 16px;
    color: gray;
    margin-left: 20px;
}
.board-form-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
    font-size: 16px;
    color: black;
    margin-right: 20px;
}

.board-name-content {
    display: block;
    border: 1px solid gray;
    height: 40px;
    width: 70%;
    border-radius: 5px;
    padding-left: 10px;
}

.board-form-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
    font-size: 16px;
    color: black;
    margin-right: 20px;;
}

.board-des-content {
    // resize: none;
    // display: block;
    // border: 1px solid gray;
    // height: 55px;
    // width: 70%;
    // border-radius: 5px;
    // margin-right: 20px;
    // padding-left: 10px;
 display: block;
    border: 1px solid gray;
    height: 55px;
    width: 70%;
    border-radius: 5px;
    padding-left: 10px;
}


.board-form-button {
  display: flex;
  justify-content: flex-end;
  font-size: 16px; 
  height: 25%;
  padding-bottom: 40px;
}

.board-form-button1 {
    display: block;
    box-sizing: border-box;
    background-color:  #efefef;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    font-size: 16px;
    height: 45px;
    text-align: center;
    margin-right: 20px;
}
.board-form-button1:hover {
    background-color: lightgray;
}
.board-delete-button {
    font-size:16px;
    color: $pinterest-red;
    font-weight: bold;
    margin-left: 20px;
   
}

.board-form-button2 {
    display: block;
    box-sizing: border-box;
    background-color: $pinterest-red;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    height: 45px;
    text-align: center;
    margin-right: 20px;
}

.board-form-button2:hover {
    background-color: darkred;
}
.board-form-button2:disabled {
    display: block;
    box-sizing: border-box;
    background-color: gray;
    width: 100px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    font-size: 16px;
    height: 45px;
    text-align: center;
    margin-right: 20px;
}