
.session-link {
    position: absolute;
    top: 30px;
    left: 10px;
    display: block;
    box-sizing: border-box;
    background-color:  #efefef;
    width: 100px;
    border-radius: 10px;
    padding: 12px 14px; 
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}
.session-box {
    text-align: center;
    border-radius: 8px;
    // padding: 12px 14px;
    width: 484px;
    height: 417px;
    background-color: white;
   
}
.session-form {
    width: auto;
    height: 50%;
    padding: 2px;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    padding-top: 19px;
 
}
.session-input {
    font-size: 16px;
    color: #fff; 
    font-family: 'Roboto', sans-serif;
    color: #333; 
    margin: auto;
   
}


.session-input-password {
    display: block;
    box-sizing: border-box;
    background-color:  white;
    width: 268px;
    border-radius: 5px;
    padding: 12px 14px; 
    font-weight: bold;
    border: 1px solid lightgray;
    text-align: left;
}
// .session-signup:hover {
//     background-color: lightgray;
// }
.session-input-email {
    
    display: block;
    box-sizing: border-box;
    background-color:  white;
    width: 268px;
    border-radius: 5px;
    padding: 12px 14px; 
    font-weight: bold; 

    border: 1px solid lightgray;
    text-align: left;

    margin: 10px;

}

.session-button {
    display: block;
    box-sizing: border-box;
    background-color: #e60023;
    width: 268px;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 500px;
    color: white;
    font-size: 16px;
    margin: auto;
}
.session-button:hover {
    background-color: darkred;
}
.session-button-cont{
    padding-top: 15px
}
.demo-cont{
    padding: 0px
}
.demo-button {
     display: block;
    box-sizing: border-box;
    background-color: #e60023;
    width: 268px;
    border-radius: 5px;
    padding: 12px 14px;
    font-weight: 500px;
    color: white;
    font-size: 16px;
    margin: auto;
}
.demo-button:hover {
    background-color: darkred;
}

.demo-or {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #333;  
    letter-spacing: 0.8px;
}

.session-error {
    font-size: 12px;
    color: #fff; 
    font-family: 'Roboto', sans-serif;
    color:  #e60023;   
}