.welcome-main {
    text-align: center;
    border-radius: 8px;
    padding: 12px 14px;
    width: 404px;
    height: 350px;
    background-color: white;
}
.welcome-sub {
    font-size:  16px;
    font-family: 'Source Sans Pro', sans-serif;
}
.welcome-login-signup {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 404px;
    height: 120px;
    background-color: white;
    margin: auto;
}
.welcome-login {
    display: block;
    box-sizing: border-box;
    background-color: #e60023;
    width: 100%;
    border-radius: 8px;
    padding: 12px 14px;
    font-weight: bold;

}
.welcome-login:hover {
    background-color: darkred;
}

.welcome-signup {
    display: block;
    box-sizing: border-box;
    background-color:  #efefef;
    width: 100%;
    border-radius: 8px;
    padding: 12px 14px; 
    font-weight: bold;
}
.welcome-signup:hover {
    background-color: lightgray;
}
.welcome-login-text {
    display: block;
    font-size: 18px;
    color: #fff; 
    font-family: 'Source Sans Pro', sans-serif;
}
.welcome-signup-text {
    display: block;
    font-size: 18px;
    color: #333; 
    font-family: 'Source Sans Pro', sans-serif;
}